{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'clientstatic/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'ecomapp:adminhome' %}">Home</a> |
            <a href="">All Orders</a>
        </div>
    </div>
    {% block content %}

    {% endblock %}
</body>

</html>